.carrossel__titulo {
    color: var(--laranja);
    text-align: center;
    font-weight: 700;
    font-size: 1.13rem;
    padding: 1em 0 0.5em 0;
    background: var(--branco);
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card_descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.descricao__estrelas {
    color: var(--laranja);
    font-weight: 700;
    margin: .5em 0;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
    margin: .5em 0;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 1.13rem;
    font-weight: 700;
    margin-bottom: .5em;
}

.descricao__texto {
    font-size: .88rem;
    margin-bottom: .5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__itens{
    margin: 0 .5em;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2em;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.63rem;
        padding: 2em 0 1em 0;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%;
        margin: 2em auto;
    }
}